{% extends "layout.html" %}

{% block title %}
    File Upload
{% endblock %}

{% block main %}
    <div>
        plot 1:
    </div>
    <div>
        {{plot1 | safe}}
    </div>
    <div>
        plot 2:
    </div>
    <div>
        {{plot2 | safe}}
    </div>
    <div>
        sampled roads:
    </div>
    <div style="height: 500px; overflow: auto;">
        {{road_points_table | safe}}
    </div>
    <form action="/download" method="POST">
        <div class="form-group">
            <input type="Submit" value="Download CSV of Roads Sampled" >
        </div>
        <!-- <div class="form-group">
            <button class="btn btn-default" type="submit">Join</button>
        </div> -->
    </form>
    <div>
        plot 3:
    </div>
    <div>
        {{plot3 | safe}}
    </div>
    <form action="/download" method="POST">
        <div class="form-group">
            <input type="Submit" value="Download CSV of Roads Sampled" >
        </div>
    </form>
{% endblock %}
