{% extends "layout.html" %}

{% block title %}
File Upload
{% endblock %}

{% block main %}
<div>
  {{ plot1|safe }}
</div>

<div>
  Specify sampling output type <b>("point" OR "line")</b>, how many samples to generate (i.e. "5"), how many parameter samples to generate, and buffer size
  <form action="{{ url_for('sample_param') }}" method="post">
    <fieldset>
      <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="output_type" placeholder="Sample output type (point or line accepted)" type="text" />
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="sample_size" placeholder="Sample size (i.e. 5)" type="text" />
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="sample_param_size" placeholder="Sample parameter size (i.e. 5)" type="text" />
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="buffer" placeholder="Buffer size (in meters (1 mi = 1609.34 m))" type="text" />
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit">Sample</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
