{% extends "layout.html" %}

{% block title %}
File Upload
{% endblock %}

{% block main %}
<header>
  <h3>Sample Output Visualization</h3>
</header>
<div>
  {{ plot1|safe }}
</div>
<header>
  <h3>Sample Output Data</h3>
</header>
<div style="height: 500px;
overflow: auto;">
  {{ sample_output|safe }}
</div>
<div style="height: 500px;
overflow: auto;">
  {{ reverse_sample_output|safe }}
</div>
<form action="/download" method="POST">
  <div class="form-group">
    <input type="Submit" value="Download CSV of Sample Ouput">
  </div>
{% endblock %}
