{% extends "layout.html" %}

{% block title %}
File Upload
{% endblock %}

{% block main %}
<!-- <div>Please upload your files in this format: "(Road file link), (area of interest file link)" </div> -->
<div>Please upload your Road network file Google Drive link and AOI file Google Drive link</div>
<form action="{{ url_for('upload') }}" method="post">
  <fieldset>
    <div class="form-group">
      <input autocomplete="on" autofocus class="form-control" name="road_link" placeholder="Road network file link" type="text" />
    </div>
    <div class="form-group">
      <input autocomplete="on" autofocus class="form-control" name="AOI_link" placeholder="AOI file Link" type="text" />
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit">Upload File(s)</button>
    </div>
  </fieldset>
</form>
{% endblock %}
